{% load humanize %}

<div id="agg-savings">
  <div class="col-xs-4">
    <h3>Total Savings</h3>
    <h5>All Energy Types</h5>
  </div>
  <div class="col-xs-4">
    <h5 class="no-pad-bottom pad-top">GROSS</h5>
    <h2 id="total-gross-savings">{{ agg_savings.gross | floatformat:"0" | intcomma }}
    <span class="units">{{ agg_savings.unit }}</span></h2>
  </div>

  <div class="col-xs-4">
    <h5 class="no-pad-bottom pad-top">ANNUAL</h5>
    <h2 id="total-annual-savings">{{ agg_savings.annual | floatformat:"0" | intcomma }}
    <span class="units">{{ agg_savings.unit }}/yr</span></h2>
  </div>
</div>