{% load humanize %}
<div class="row-fluid">
  <div class="col-xs-12">
    <h6 class="no-pad-bottom text-muted">QUICK STATS &mdash; ALL ENERGY TYPES</h6>
  </div>
</div>
<div class="row-fluid">
  <div id="agg-savings">

    {% if agg_savings.annual_usage %}

    <div class="col-xs-4">
      <h6 class="no-pad-bottom">
        Annual Usage
        <span class="muted">kWh/yr</span>
      </h6>
      <div id="usage-bar">
      </div>
      <script type="text/javascript">

        $(document).ready(function () {

          BarHelper.create('usage-bar', {{ agg_savings.annual_usage.baseline }}, {{agg_savings.annual_usage.reporting}})
        });

      </script>
    </div>

    <div class="col-xs-5">
      <h6 class="no-pad-bottom">
        Annual Savings
        <span class="muted">kWh/yr</span>
      </h6>
      <h2 id="total-annual-savings">
        {{ agg_savings.annual | floatformat:"0" | intcomma }}
        {% if agg_savings.annual_usage.percent_savings >= 0 %}
          <span class="badge-pct badge-success">{{agg_savings.annual_usage.percent_savings}}%</span>
        {% else %}
          <span class="badge-pct badge-danger">{{agg_savings.annual_usage.percent_savings}}%</span>
        {% endif %}
      </h2>
    </div>
<!--     <div class="col-xs-3">
      <p class="h6 no-pad-top no-pad-bottom" id="gross-usage">
        <span class="muted">GROSS BASELINE USAGE</span><br/>
        [number here] <br/>
        <span class="muted">GROSS REPORTED USAGE</span><br/>
        [number here] <br/>
        <span class="muted">GROSS SAVINGS</span><br/>
        {{ agg_savings.gross }} kWh<br/>
      </h6>
    </div> -->

    {% else %}

    <div class="col-xs-5">
      <h5 class="no-pad-bottom">Gross Savings</h5>
      <h2 id="total-gross-savings">{{ agg_savings.gross | floatformat:"0" | intcomma }}
      <span class="units">{{ agg_savings.unit }}</span></h2>
    </div>

    <div class="col-xs-7">
      <h5 class="no-pad-bottom">Annual Savings</h5>
      <h2 id="total-annual-savings">{{ agg_savings.annual | floatformat:"0" | intcomma }}
      <span class="units">{{ agg_savings.unit }}/yr</span></h2>
    </div>
    {% endif %}
  </div>
</div>