{% load humanize %}
<div class="row-fluid">
  <div class="col-xs-12">
    <h5 class="no-pad-bottom text-muted">QUICK STATS &mdash; ALL ENERGY TYPES</h5>
  </div>
</div>
<div class="row-fluid">
  <div id="agg-savings">

    {% if agg_usage %}

    <div class="col-xs-7">
      <h5 class="no-pad-bottom">Annual Usage</h5>
      <div id="usage-bar">
      </div>
      <script type="text/javascript">

        $(document).ready(function () {

          var usage_data = {{ agg_usage | safe }}

          BarHelper.create('usage-bar', {{ agg_usage.baseline }}, {{agg_usage.reporting}})
        });

      </script>
    </div>

    <div class="col-xs-5">
      <h5 class="no-pad-bottom">Annual Savings</h5>
      <h2 id="total-annual-savings">{{ agg_savings.annual | floatformat:"0" | intcomma }}
      <span class="units">{{ agg_savings.unit }}/yr</span></h2>
    </div>

    {% else %}

    <div class="col-xs-5">
      <h5 class="no-pad-bottom">Gross Savings</h5>
      <h2 id="total-gross-savings">{{ agg_savings.gross | floatformat:"0" | intcomma }}
      <span class="units">{{ agg_savings.unit }}</span></h2>
    </div>

    <div class="col-xs-7">
      <h5 class="no-pad-bottom">Annual Savings</h5>
      <h2 id="total-annual-savings">{{ agg_savings.annual | floatformat:"0" | intcomma }}
      <span class="units">{{ agg_savings.unit }}/yr</span></h2>
    </div>
    {% endif %}
  </div>
</div>