<div class="container-fluid energy-summary">
	<div class="row-fluid">
    <div class="col-sm-12">

      <div id="{{ savings_data.energy_type_slug }}-gross-savings">
      </div>

    </div>
  </div>

  <script type="text/javascript">

  $(document).ready(function () {

    var usage_data = {{ savings_data.usage_data | safe }}

    SavingsTimeseriesHelper.create(
      '{{ savings_data.energy_type_slug }}-gross-savings',
      '{{ savings_data.energy_type }} Monthly Gross Savings',
      '{{ savings_data.unit }}',
      usage_data['xlabels'][usage_data['actual_start_idx']],
      usage_data['actual_start_idx'],
      usage_data['series_baseline'],
      usage_data['series_actual'],
      usage_data['series_n_projects']);
    });

  </script>
</div>



<div class="container projects-interactive">
	<div class="row-fluid">
    <div class="col-sm-12">


<!--       <div id="{{ savings_data.energy_type_slug }}-projects">
        <h3>{#[PLACEHOLDER for an interactive viz of projects by date]#}</h3>
      </div>
 -->
    </div>

  </div>

  <script type="text/javascript">
  </script>

</div>

<div class="divider"></div>

<div class="container-fluid">
	<div class="row-fluid">

    {% if savings_data.gross_savings_hist_data %}
    <div class="col-sm-6">
      <div id="{{ savings_data.energy_type_slug }}-gross-savings-histogram">
      	Histogram
      </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

          var hist_data = {{ savings_data.gross_savings_hist_data | safe }}

          HistHelper.create("{{ savings_data.energy_type_slug }}-gross-savings-histogram",
            "Project Savings - Gross",
            "Number of Projects",
            "Gross Project Savings ({{ savings_data.unit }})",
            hist_data.xlabels,
            [hist_data.dataseries]
          );

      });

    </script>
    {% endif %}

    {% if savings_data.annual_savings_hist_data %}
    <div class="col-sm-6">
      <div id="{{ savings_data.energy_type_slug }}-annual-savings-histogram">
      	Histogram
      </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

          var hist_data = {{ savings_data.annual_savings_hist_data | safe }}

          HistHelper.create("{{ savings_data.energy_type_slug }}-annual-savings-histogram",
            "Project Savings - Annual",
            "Number of Projects",
            "Annualized Project Savings ({{ savings_data.unit }})",
            hist_data.xlabels,
            [hist_data.dataseries]
          );

      });

    </script>
    {% endif %}

  </div>


</div>

<div class="container">

  <div class="row-fluid">
    <div class="col-sm-12">
      <div class="divider"></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-6">
      <div id="elec_savings_scatter" class="chart"></div>
    </div>
    <div class="col-sm-6">
      <div id="gas_savings_scatter" class="chart"></div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-sm-12">
      <div class="divider"></div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-sm-6">
      <div id="elec_rr_hist" class="chart"></div>
    </div>
    <div class="col-sm-6">
      <div id="gas_rr_hist" class="chart"></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-12">
      <div class="divider"></div>
    </div>
  </div>
</div>
