<div class="container-fluid energy-table">
	<div class="row-fluid">
    <div class="col-sm-12">

      <h2>{{ table_data.energy_type }} Projects</h2>

      <div id="{{ table_data.energy_type_slug }}-table">

        <table class="table">
          <tr>
            {% for h in table_data.table_header %}
              <th>{{ h }}</th>
            {% endfor %}
          </tr>
          {% for row in table_data.table_body %}
            <tr>

              {% for c in row %}
                {% if c.cell_type == 'link' %}
                  <td>
                    <a href="/dashboard/project/{{ c.cell_data.pk }}" title="View project detail">{{ c.cell_data.id }}</a>
                  </td>
                {% elif c.cell_type == 'boolean' %}
                  {% if c.cell_data %}
                    <td>
                      <i class="fa fa-check fa-fw"></i>
                    </td>
                  {% else %}
                    <td>
                      <i class="fa fa-exclamation-circle fa-fw"></i>
                    </td>
                  {% endif %}
                {% elif c.cell_type == 'int_threshold' %}
                  {% if c.cell_data.is_invalid %}
                    <td class="text-danger">{{ c.cell_data.val }}</td>
                  {% else %}
                    <td class="text-success">{{ c.cell_data.val }}</td>
                  {% endif %}
                {% endif %}

              {% endfor %}

            </tr>
          {% endfor %}

        </table>
      </div>

    </div>
  </div>

  <script type="text/javascript">

  $(document).ready(function () {

  </script>
</div>