DEMO_CLIENTS = {
	'default': {
		'name': 'Demo',
		'client_slug': 'demo',
		'logo': 'eemeter.png',
	},
	'pge': {
		'name': 'Pacific Gas & Electric',
		'logo': 'pge.png',
	},
	'sonoma': {
		'name': 'Sonoma CleanPower',
		'logo': 'sonoma-transparent.png',
	},
	'lime-energy': {
		'name': 'Lime Energy',
		'logo': 'lime-energy.png',
	},
}
