{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body %}

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

{% block content %}
{% endblock %}

<script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts-more.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bar_helper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/timeseries_helper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hist_helper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scatter_helper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/baseline_timeseries_helper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/savings_timeseries_helper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>

{% block extrajs %}
{% endblock %}

{% endblock %}
