{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block title %}Project Block Index{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="col-sm-12" id="project-block-header">
    <div class="logo">
      <img src="{% static logo %}">
    </div>
    <h2 class="title">{{client_name}} - Project Block Index</h2>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Project Blocks</h2>
      <ul>
        {% for project_block in project_blocks %}
        <li><a href="{% url 'dashboard:project_block_detail' client_slug project_block.id %}">{{ project_block.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
