{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% load humanize %}

{% block title %}Project Detail{% endblock %}

{% block content %}

  <div class="container-fluid project-block-summary">
    <div class="row-fluid">

      <div class="col-xs-9 no-padding">
        <div class="row-fluid header-light">
          <div class="logo">
            <a href="/">
              <img src="{% static logo %}">
            </a>
          </div>
          <div id="project-block-title">
            <h2 class="title">Project Detail <span class="text-muted small">ID: {{project_id}}</span></h2>
          </div>
        </div>

        <div class="row-fluid" id="project-block-content">
          {% include 'partials/agg_savings.html' %}
        </div>

        <div class="row-fluid" id="energy-pane-menu">
          <div class="col-xs-12">
            <div>
              {% for savings_data in all_savings_data %}
              <a href="javascript://" class="energy-pane-select"
                target-pane="#pane-{{ savings_data.energy_type_slug }}, #pane-summary-{{ savings_data.energy_type_slug }}">
                <i class="fa {{ savings_data.icon }} fa-lg"></i> {{ savings_data.energy_type }}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>


      <div id="col-xs-3 no-padding">
        <div id="map"></div>
      </div>
    </div>
  </div>

  {% for savings_data in all_savings_data %}
    <div class="energy-pane" id="pane-{{ savings_data.energy_type_slug }}">
      {% include "partials/utility_pane_viz.html" %}
    </div>
  {% endfor %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">

$(document).ready(function () {

  // ****************** MAP ***************
  // create map
  var map = L.map('map', {scrollWheelZoom:false}).setView( {{map_data.latlong}}, {{ map_data.zoom }});
  L.tileLayer(
      'https://{s}.tiles.mapbox.com/v3/cathyd125.k6ock5a1/{z}/{x}/{y}.png',
      {
        attribution: '<a href="http://openstreetmap.org">OpenStreetMap</a>,'+
          ' <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'+' | <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
      })
    .addTo(map);

  // adding dots to map
  var location = {{ map_data.latlong | safe}};
  marker = new L.circleMarker(
          location,
          {color: "#00b16a"})
      .setRadius(10)
      .addTo(map);
  

  // ********* PAGE NAVIGATION ************
  // show first energy type on page load
  $('.energy-pane').hide()
  $('.energy-pane').first().show()
  $('.energy-detail-pane').hide()
  $('.energy-detail-pane').first().show()
  $('.energy-pane-select').first().addClass('selected')

  // switch energy panes from menus
  $('.energy-pane-select').on('click', function(e){
    $('.energy-pane').hide()
    $('.energy-detail-pane').hide()
    $(this.getAttribute("target-pane")).show()

    $('.energy-pane-select').removeClass('selected')
    $(this).addClass('selected')
  });

});
</script>


{% endblock %}

