{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% load humanize %}

{% block title %}Project Block Detail{% endblock %}

{% block content %}

  <div class="container-fluid project-block-summary">
    <div class="row-fluid">

      <div class="col-xs-7 no-padding">
        <div class="row-fluid header-light">
          <div class="logo">
            <a href="/">
              <img src="{% static logo %}">
            </a>
          </div>
          <div id="project-block-title">
            <h2 class="title">
              {{ project_block.name }}
              <span class="text-muted small pull-right">
                <i class="fa fa-wrench"></i>
                Projects: <strong>{{ project_block.n_projects }}</strong> &nbsp;
              </span>
            </h2>
          </div>
        </div>

        <div class="row-fluid" id="project-block-content">
          {% include 'partials/agg_savings.html' %}
        </div>

      </div>


      <div id="col-xs-5 no-padding">
        <div id="map"></div>
      </div>
    </div>
  </div>


  <div class="row-fluid" id="energy-pane-menu">
    <div class="col-xs-12">
      <div>
        <a href="javascript://" class="energy-pane-select"
          target-pane="#pane-agg, #pane-summary-agg">
          <i class="fa fa-star-o fa-lg"></i> All Energy Types
        </a>
        {% for savings_data in all_savings_data %}
        <a href="javascript://" class="energy-pane-select"
          target-pane="#pane-{{ savings_data.energy_type_slug }}, #pane-summary-{{ savings_data.energy_type_slug }}">
          <i class="fa {{ savings_data.icon }} fa-lg"></i> {{ savings_data.energy_type }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="energy-pane" id="pane-agg">
    {% include "partials/agg_pane_viz.html" %}
  </div>
  {% for savings_data in all_savings_data %}
    <div class="energy-pane" id="pane-{{ savings_data.energy_type_slug }}">
      {% include "partials/utility_pane_viz.html" %}
      {% include "partials/utility_pane_table.html" %}
    </div>
  {% endfor %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">

$(document).ready(function () {

  // ****************** MAP ***************
  // create map
  var map = L.map('map', {scrollWheelZoom:false}).setView([{{ map_data.center_lat }},{{ map_data.center_long }}], {{ map_data.zoom }});
  L.tileLayer(
      'https://{s}.tiles.mapbox.com/v3/cathyd125.k6ock5a1/{z}/{x}/{y}.png',
      {
        attribution: '<a href="http://openstreetmap.org">OpenStreetMap</a>,'+
          ' <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'+' | <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
      })
    .addTo(map);

  // adding dots to map
  var locations = {{ map_data.latlongs | safe}};
  for (var i = 0; i < locations.length; i++) {
    jitterx = (Math.random() - .5)/50;
    jittery = (Math.random() - .5)/50;
    marker = new L.circleMarker(
          [locations[i][0] + jitterx,locations[i][1] + jittery],
          {color: "#00b16a"})
      .setRadius(1)
      .addTo(map);
  }

  // ********* PAGE NAVIGATION ************
  // show first energy type on page load
  $('.energy-pane').hide()
  $('.energy-pane').first().show()
  $('.energy-pane-select').first().addClass('selected')

  // switch energy panes from menus
  $('.energy-pane-select').on('click', function(e){
    $('.energy-pane').hide()
    $(this.getAttribute("target-pane")).show()

    $('.energy-pane-select').removeClass('selected')
    $(this).addClass('selected')
  });



  // ************* OLD JS *******************
  // TO-DO: REORGANIZE EVERYTHING BELOW INTO TEMPLATE TAGS

  {# BaselineTimeseriesHelper.create('baseline-timeseries', #}
  {#     'Total Energy Usage Over Time', #}
  {#     'Energy Usage (kWh)', #}
  {#     baseline_data.xlabels[0], #}
  {#     baseline_data.actual_start_idx, #}
  {#     baseline_data.series_baseline, #}
  {#     baseline_data.series_actual); #}
  {#  #}
  {# //Electricity #}
  {#  #}
  {# $('.elec-sum-gross').html(commaSeparateNumber(elec_data.savings_sums.gross_actual)); #}
  {# $('#elec-sum-gross-pred').html(commaSeparateNumber(elec_data.savings_sums.gross_pred)); #}
  {# $('#elec-portfolio-rr').html(commaSeparateNumber(elec_data.savings_sums.portfolio_rr)); #}
  {#  #}
  {# elec_data.rr_histogram.dataseries.color = "#1186BB"; #}
  {#  #}
  {# TimeseriesHelper.create("elec_rr_timeseries", #}
  {#     "Average Electricity Realization Rate", #}
  {#     "Average Realization Rate", #}
  {#     "Retrofit End Date", #}
  {#     elec_data.rr_timeseries.xlabels, #}
  {#     elec_data.rr_timeseries.rr, #}
  {#     elec_data.rr_timeseries.errors); #}
  {#  #}
  {# HistHelper.create("elec_rr_hist", #}
  {#     "Distribution of Electricity Realization Rates", #}
  {#     "Projects", #}
  {#     "Realization Rate", #}
  {#     elec_data.rr_histogram.xlabels, #}
  {#     [elec_data.rr_histogram.dataseries]); #}
  {#  #}
  {# ScatterHelper.create("elec_savings_scatter", #}
  {#     "Yearly Electricity Savings: Actual vs. Predicted", #}
  {#     "Yearly Weather Normalized Savings (kWh)", #}
  {#     "Predicted Yearly Savings (kWh)", #}
  {#     elec_data.savings_scatter.dataseries, #}
  {#     elec_data.savings_scatter.plotmax); #}
  {#  #}
  {# $('.gas-sum-gross').html(commaSeparateNumber(gas_data.savings_sums.gross_actual)); #}
  {# $('#gas-sum-gross-pred').html(commaSeparateNumber(gas_data.savings_sums.gross_pred)); #}
  {# $('#gas-portfolio-rr').html(commaSeparateNumber(gas_data.savings_sums.portfolio_rr)); #}
  {#  #}
  {# gas_data.rr_histogram.dataseries.color = "#1186BB"; #}
  {#  #}
  {# TimeseriesHelper.create("gas_rr_timeseries", #}
  {#     "Average Gas Realization Rate", #}
  {#     "Average Realization Rate", #}
  {#     "Retrofit End Date", #}
  {#     gas_data.rr_timeseries.xlabels, #}
  {#     gas_data.rr_timeseries.rr, #}
  {#     gas_data.rr_timeseries.errors); #}
  {#  #}
  {# HistHelper.create("gas_rr_hist", #}
  {#     "Distribution of Gas Realization Rates", #}
  {#     "Projects", #}
  {#     "Realization Rate", #}
  {#     gas_data.rr_histogram.xlabels, #}
  {#     [gas_data.rr_histogram.dataseries]); #}
  {#  #}
  {# ScatterHelper.create("gas_savings_scatter", #}
  {#     "Yearly Gas Savings: Actual vs. Predicted", #}
  {#     "Yearly Weather Normalized Savings (therm)", #}
  {#     "Predicted Yearly Savings (therm)", #}
  {#     gas_data.savings_scatter.dataseries, #}
  {#     gas_data.savings_scatter.plotmax); #}

});
</script>


{% endblock %}

