<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ol.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<script src='{% static 'js/ol-debug.js'%}'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

<title>{% block title %}{% endblock %}</title>

</head>

<body>
{% block body %}
{% endblock %}
</body>



</html>
