/* all styling related to the page layout & nav, using material design */

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__content, .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
	margin-left: 60px; /*this should be same width as sidebar*/
	width: calc(100% - 60px);
}

#oeem-sidebar {
	width: 60px;
	border: 0px;
}
#oeem-sidebar>header{
	height: 64px;
}
#oeem-sidebar>.mdl-navigation{
	padding-top: 0px;
}
#oeem-sidebar>.mdl-navigation>.mdl-navigation__link {
	padding: 16px 0px;
	text-align: center;
}