.container{
  padding: 0px;
}

.logo{
    float: left;
}

.logo img{
    height: 40px;
    margin: -10px 0 0 0;
}

/* histogram */

.histogram text {
  fill: #333;
}

.histogram .bar rect {
  fill: rgba(0,0,0,0.7);
  shape-rendering: crispEdges;
}

.histogram .bar:hover rect {
  fill: rgba(25, 129, 170, 0.7);
  shape-rendering: crispEdges;
}

.histogram .axis path, .histogram .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.histogram .axis text {
  fill: #bbb;
  font-size: 0.72em;
}

.histogram .tick line {
  stroke: #F0F0F0;
}

/* scatterplot */

.scatterplot text {
  fill: #333;
}

.scatterplot circle.scatterplot-point {
  fill: #000;
}

.scatterplot circle.scatterplot-point:hover {
  fill: #0A91B6;
}

.scatterplot .axis path, .scatterplot .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.scatterplot .axis text {
  fill: #aaa;
  font-size: 0.72em;
}

.scatterplot text.axis {
  fill: #aaa;
  font-size: 0.72em;
}

.scatterplot .equivalence path {
  stroke: #bbb;
}

.scatterplot .equivalence textPath {
  fill: #bbb;
}

.scatterplot .tick line {
  stroke: #F0F0F0;
}

/* timeseries */

.timeseries .axis path, .timeseries .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.timeseries .axis text {
  fill: #bbb;
  font-size: 0.72em;
}

.timeseries .line {
  fill: none;
  stroke: #333;
  stroke-width: 0.7px;
}

.timeseries .baseline.area {
  fill: rgba(100, 255, 100, 0.2);
}

.timeseries .reporting.area {
  fill: rgba(255, 50, 50, 0.4);
}

.timeseries .overlay {
  fill: none;
  pointer-events: all;
}

.timeseries .focus circle {
  fill: none;
  stroke: #333;
}

.timeseries .focus text {
  fill: #777;
  font-size: 0.72em;
}

.timeseries .tick line{
  opacity: 0.2;
}

/* Project Consumption Timeseries*/

.projectConsumptionTimeseries .axis path, .projectConsumptionTimeseries .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.projectConsumptionTimeseries .axis text {
  fill: #bbb;
  font-size: 0.72em;
}

.projectConsumptionTimeseries .axis.electricity text {
  fill: #0073e6;
  font-size: 0.72em;
}

.projectConsumptionTimeseries .axis.naturalGas text {
  fill: #ff6c00;
  font-size: 0.72em;
}

.projectConsumptionTimeseries text.axis.electricity {
  fill: #0073e6;
  font-size: 0.72em;
}

.projectConsumptionTimeseries text.axis.naturalGas {
  fill: #ff6c00;
  font-size: 0.72em;
}


.projectConsumptionTimeseries .line.electricity {
  fill: none;
  stroke: #0073e6;
  stroke-width: 0.7px;
}

.projectConsumptionTimeseries .line.naturalGas {
  fill: none;
  stroke: #ff6c00;
  stroke-width: 0.7px;
}

/* tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 9px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 3px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* griddle project table */

div.griddle {
  margin-top: 20px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* date range filter */

.dateRangeFilter button.btn.btn-default {
  width: 100%;
  background-color: #FFF;
}

/* project data filter */

button.close {
  color: gray;
  margin-top: -6px;
  padding-left: 20px;
}

button.close:hover {
  color: black;
}

/* inline headers */
.inline-headers h2, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}
