.container{
  padding: 0px;
}

#map {
    height: 200px;
}

.left{ float: left; }
.right{ float: right; }

.logo{
    float: left;
}

.logo img{
    height: 60px;
    padding: 10px 30px 10px 20px;
}

.no-padding{
    padding: 0 0 0 0;
}

#project-block-header{
    height: 60px;
    background-color: #333;
}
#project-block-content{
    height: 103px;
}
#project-block-content h2{
    margin-top: 0px;
}

#energy-pane-menu{
    height: 37px;
}
#energy-pane-menu a{
    color: #0A4376;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
}
.energy-pane-select{
    padding-bottom: 3px;
}
#energy-pane-menu a:hover, #energy-pane-menu a:active, #energy-pane-menu a:visited, #energy-pane-menu a:focus{
    color: #388ACD;
    text-decoration: none;
    outline: 0;
}

#energy-pane-menu .selected{
    color: #388ACD;
    border-bottom: 6px solid #388ACD;
}

.title{
    color: #F2F1EF;
    margin: 0 0 0 0;
    padding: 10px 0 0 90px;
}

.project-block-summary{
    background-color: #eee;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

.projects-interactive{
    background-color: #E6EBEE;
}

.units{
    font-size: .6em;
}


.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}





.gross-savings h1{
    margin-top: 0px;
    color: #0273A2;
}
.gross-savings p{
    margin-bottom: 0px;
    margin-top: 6px;
    color: #333;
}
.gross-savings h4{
    margin: 15px 0px 20px 15px;
    color: #0273A2;
}

.gross-savings-box{
    background-color: #A3CEE4;
    padding: 0 0 20 0;
}
.gross-savings-box h4{
    display: block;
    color: #F2F1EF;
    background-color: #0273A2;
    margin: 0px 0px 10px 0px;
    padding: 8px 15px 8px 15px;
}
.gross-savings-box p{
    margin: 20px 0px 10px 15px;
    color: #333333;
    font-size: 20px;
}
.gross-savings-box h1{
    margin: 20px 0px 10px 15px;
    color: #333333;
    font-size: 46px;
}

.emphasis-gross{
    font-weight: bold;
}
.emphasis-rr{
    color: #0273A2;
    font-size: 46px;
    font-weight: bold;
}

.color-box{
    background-color: white;
    border: 3px solid;
    border-color: #0273A2;
    padding: 0px 0px 20px 0px;
}
.color-box h2{
    margin:0px 0px 10px 15px;
    color: #333333;//#F2F1EF;
}

.color-box h3{
    margin: 20px 0px 10px 15px;
    color: #333333; //#F2F1EF;
}

.color-box h4{
    display: block;
    color: #F2F1EF;
    background-color: #0273A2;
    margin: 0px 0px 10px 0px;
    padding: 8px 15px 8px 15px;
}
.color-box small{
    color: rgb(34, 34, 34);
}
.color-box p{
    margin: 20px 0px 10px 15px;
    color: #333333; //#F2F1EF;
}
.color-box .wide{
  margin-left: -20;
}
.divider{
    height:30px;
}
.small-font{
    font-size: 20px;
}
