.container{
  padding: 0px;
}

#map {
    height: 200px;
}

.left{ float: left; }
.right{ float: right; }

.logo{
    float: left;
}

.logo img{
    height: 40px;
    margin: -10px 0 0 0;
}

.no-padding{
    padding: 0 0 0 0;
}

.header-light{
    height: 60px;
    background-color: #efefef;
}
.header-dark{
    height: 60px;
    background-color: #333;
}
.title{
    margin: 0 0 0 0;
    padding: 10px 0 0 90px;
}
.header-light .title{
    color: #333;
}
.header-dark .title{
    color: #efefef;
}



#project-block-content{
    height: 94px;
}
#project-block-content h2{
    margin-top: 0px;
}

#gross-usage{
    position: absolute;
}

#energy-pane-menu{
    padding-top: 10px;
    height: 46px;
}
#energy-pane-menu a{
    color: #0A4376;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
}
.energy-pane-select{
    padding-bottom: 3px;
}
#energy-pane-menu a:hover, #energy-pane-menu a:active, #energy-pane-menu a:visited, #energy-pane-menu a:focus{
    color: #388ACD;
    text-decoration: none;
    outline: 0;
}

#energy-pane-menu .selected{
    color: #388ACD;
    border-bottom: 6px solid #388ACD;
}

.project-block-summary{
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

.projects-interactive{
    background-color: #E6EBEE;
}

.units{
    font-size: .5em;
}
.no-pad-bottom{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.no-pad-top{
    padding-top: 0px;
    margin-top: 0px;
}
.pad-top{
    padding-top: 12px;
}

.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}

.project-count{
    font-size: .6em;
    vertical-align: bottom;
}





.gross-savings h1{
    margin-top: 0px;
    color: #0273A2;
}
.gross-savings p{
    margin-bottom: 0px;
    margin-top: 6px;
    color: #333;
}
.gross-savings h4{
    margin: 15px 0px 20px 15px;
    color: #0273A2;
}

.gross-savings-box{
    background-color: #A3CEE4;
    padding: 0 0 20 0;
}
.gross-savings-box h4{
    display: block;
    color: #F2F1EF;
    background-color: #0273A2;
    margin: 0px 0px 10px 0px;
    padding: 8px 15px 8px 15px;
}
.gross-savings-box p{
    margin: 20px 0px 10px 15px;
    color: #333333;
    font-size: 20px;
}
.gross-savings-box h1{
    margin: 20px 0px 10px 15px;
    color: #333333;
    font-size: 46px;
}

.emphasis-gross{
    font-weight: bold;
}
.emphasis-rr{
    color: #0273A2;
    font-size: 46px;
    font-weight: bold;
}



.divider{
    height:30px;
}
.small-font{
    font-size: 20px;
}
.muted {
    font-size: 80%;
    color: #bbb;
}



.badge-pct {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 70%;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    background-color: #E7E7E7;
    color: #777;
    border-radius: 15px;
}
.badge-success {
    background-color: #43AC6A;
    color: #eee;
}
.badge-danger {
    background-color: #F04124;
    color: #eee;
}

/* histogram */

.histogram .bar rect {
  fill: #7162f9;
  shape-rendering: crispEdges;
}

.histogram text {
  fill: #333;
}

.histogram .bar:hover rect {
  fill: #95aef9;
  shape-rendering: crispEdges;
}

.histogram .axis path, .histogram .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.histogram .axis text {
  fill: #bbb;
}

/* histogram */

.scatterplot text {
  fill: #333;
}

.scatterplot .axis path, .scatterplot .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.scatterplot .axis text {
  fill: #bbb;
  font-size: 0.72em;
}

.scatterplot .equivalence path {
  stroke: #bbb;
}

.scatterplot .equivalence textPath {
  fill: #bbb;
}

/* tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 9px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 3px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
